<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://java.sun.com/xml/ns/javaee">
	<display-name> serviceEndpoint </display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>

	<context-param>
		<param-name>config-location</param-name>
		<param-value>bxm-management-instance.xml</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>bxm.service.endpoint.http.HttpServiceEndpointContextListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>bxmHttpServiceEndpointMapping</servlet-name>
		<servlet-class>kr.fingle.service.endpoint.http.FingleHttpServiceEndpointMapping
		</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>fld-encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>bxmHttpServiceEndpointMapping</servlet-name>
		<url-pattern>/httpService/*</url-pattern>
	</servlet-mapping>

</web-app>

